#tab-a-toggle:checked ~ .tab-content#tab-a-content,
#tab-b-toggle:checked ~ .tab-content#tab-b-content,
#tab-c-toggle:checked ~ .tab-content#tab-c-content {
  display: block;
}

.tabs-vertical:has(#tab-a-toggle-v:checked) #tab-a-content-v{
  display: block;
}
.tabs-vertical:has(#tab-b-toggle-v:checked) #tab-b-content-v{
  display: block;
}
.tabs-vertical:has(#tab-c-toggle-v:checked) #tab-c-content-v{
  display: block;
}