@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

:root
{
  --au-cyan : #66ccff;
  --au-aqua : #0d6efd;
  --au-dark-blue : #084b61;
  --au-indigo : #6610f2;
  --au-purple : #6f42c1;
  --au-pink : #d63384;
  --au-red : #ff4444;
  --au-dark-red : #ff444464;
  --au-orange : #fd7e14;
  --au-yellow : #ffcc00;
  --au-dark-yellow : #ffcc0072;
  --au-teal : #00ff99;
  --au-dark-teal : #00ff9971;
  --au-green : #00b718;
  --au-dark-green : #05450c;
  --au-black : #000;
  --au-white : #fff;
  --au-offwhite : #eee;
  
  --au-darkgray-0 : #444;
  --au-darkgray-1 : #333;
  --au-darkgray-2 : #2a2a2a;
  --au-darkgray-3 : #222;
  --au-darkgray-4 : #1a1a1a;
  --au-darkgray-5 : #111;
  --au-darkgray-6 : #0d0d0d;
  
  --au-lightgray-0 : #ddd;
  --au-lightgray-1 : #cfcfcf;
  --au-lightgray-2 : #c0c0c0;
  --au-lightgray-3 : #999;
  --au-lightgray-4 : #888;
  --au-lightgray-5 : #666;
  
  --au-cyan-tint : #66ccff0d;
  --au-green-tint : #7dca7e45;
  --au-teal-tint : #00ff990d;
  --au-yellow-tint : #ffcc000d;
  --au-red-tint : #ff44440d;
  --au-dark-teal-tint : #284c3d;
  --au-dark-red-tint : #631818;
  --au-dark-blue-tint : #172831;
  --au-lightgray-tint : #dddddd1a;
}

:root
{
  --au-bg-6 : var(--au-darkgray-6);
  --au-bg-5 : var(--au-darkgray-5);
  --au-bg-4 : var(--au-darkgray-4);
  --au-bg-3 : var(--au-darkgray-3);
  --au-bg-2 : var(--au-darkgray-2);
  --au-bg-1 : var(--au-darkgray-1);
  --au-bg-0 : var(--au-darkgray-0);
  --au-bg-light-0 : var(--au-lightgray-0);
  --au-bg-light-1 : var(--au-lightgray-1);
  --au-bg-light-2 : var(--au-lightgray-2);
  --au-bg-light-3 : var(--au-lightgray-3);
  --au-bg-light-4 : var(--au-lightgray-4);
  --au-bg-light-5 : var(--au-lightgray-5);
  
  --au-border-0 : var(--au-lightgray-0);
  --au-border-1 : var(--au-lightgray-1);
  --au-border-2 : var(--au-lightgray-2);
  --au-border-3 : var(--au-lightgray-3);
  --au-border-4 : var(--au-lightgray-4);
  --au-border-5 : var(--au-lightgray-5);
  --au-border-6 : var(--au-darkgray-0);

  --au-bg-white : var(--au-offwhite);

  --au-box-shadow: 0 0.5rem 1rem var(--au-darkgray-3);
  --au-box-shadow-sm: 0 0.125rem 0.25rem var(--au-darkgray-3);
  --au-box-shadow-lg: 0 1rem 3rem var(--au-darkgray-3);
  --au-border-radius: 0.375rem;
  --au-border-radius-sm: 0.25rem;
  --au-border-radius-lg: 0.5rem;
  --au-border-radius-xl: 1rem;
  --au-border-radius-xxl: 2rem;
  --au-border-radius-pill: 50rem;
}

:root,
[au-protocol=ambara]
{
  --au-bg-default : var(--au-bg-6);
  --au-bg-sub : var(--au-bg-4);
  --au-bg-light : var(--au-bg-0);
  --au-bg-dark : var(--au-bg-6);
  --au-text-color-default : var(--au-lightgray-2);
  --au-text-color-sub : var(--au-lightgray-4);
  --au-text-color-glow : var(--au-cyan);
  --au-border-default : var(--au-lightgray-5);
  --au-border-sub : var(--au-darkgray-1);

  --au-info : var(--au-cyan);
  --au-info-sub : var(--au-dark-blue);
  --au-info-tint : var(--au-cyan-tint);

  --au-warning : var(--au-yellow);
  --au-warning-sub : var(--au-dark-yellow);
  --au-warning-tint : var(--au-yellow-tint);
  
  --au-success : var(--au-teal);
  --au-success-sub : var(--au-dark-teal);
  --au-success-tint : var(--au-teal-tint);
  
  --au-danger : var(--au-red);
  --au-danger-sub : var(--au-dark-red);
  --au-danger-tint : var(--au-red-tint);
  
  --au-accent-default : var(--au-cyan);
  --au-accent-tint : var(--au-cyan-tint);
  --au-accent-sub : var(--au-dark-blue);
  --au-accent-sub-tint : var(--au-dark-blue-tint);
  
  --au-font-base : "JetBrains Mono", monospace;
  --au-font-size-base : 12px;
  --au-font-size-sub : 11px;
}

[au-protocol=rudra]
{
  --au-bg-default : var(--au-bg-6);
  --au-bg-sub : var(--au-bg-4);
  --au-bg-light : var(--au-bg-0);
  --au-bg-dark : var(--au-bg-6);
  --au-text-color-default : var(--au-lightgray-2);
  --au-text-color-sub : var(--au-lightgray-4);
  --au-text-color-glow : var(--au-red);
  --au-border-default : var(--au-lightgray-5);
  --au-border-sub : var(--au-darkgray-1);

  --au-info : var(--au-cyan);
  --au-info-sub : var(--au-dark-blue);
  --au-info-tint : var(--au-cyan-tint);

  --au-warning : var(--au-yellow);
  --au-warning-sub : var(--au-dark-yellow);
  --au-warning-tint : var(--au-yellow-tint);
  
  --au-success : var(--au-teal);
  --au-success-sub : var(--au-dark-teal);
  --au-success-tint : var(--au-teal-tint);
  
  --au-danger : var(--au-red);
  --au-danger-sub : var(--au-dark-red);
  --au-danger-tint : var(--au-red-tint);
  
  --au-accent-default : var(--au-red);
  --au-accent-tint : var(--au-red-tint);
  --au-accent-sub : var(--au-dark-red);
  --au-accent-sub-tint : var(--au-dark-red-tint);
  
  --au-font-base : "JetBrains Mono", monospace;
  --au-font-size-base : 12px;
  --au-font-size-sub : 11px;
}

[au-protocol=aranyak]
{
  --au-bg-default : var(--au-bg-6);
  --au-bg-sub : var(--au-bg-4);
  --au-bg-light : var(--au-bg-0);
  --au-bg-dark : var(--au-bg-6);
  --au-text-color-default : var(--au-lightgray-2);
  --au-text-color-sub : var(--au-lightgray-4);
  --au-text-color-glow : var(--au-teal);
  --au-border-default : var(--au-lightgray-5);
  --au-border-sub : var(--au-darkgray-1);

  --au-info : var(--au-cyan);
  --au-info-sub : var(--au-dark-blue);
  --au-info-tint : var(--au-cyan-tint);

  --au-warning : var(--au-yellow);
  --au-warning-sub : var(--au-dark-yellow);
  --au-warning-tint : var(--au-yellow-tint);
  
  --au-success : var(--au-teal);
  --au-success-sub : var(--au-dark-teal);
  --au-success-tint : var(--au-teal-tint);
  
  --au-danger : var(--au-red);
  --au-danger-sub : var(--au-dark-red);
  --au-danger-tint : var(--au-red-tint);
  
  --au-accent-default : var(--au-teal);
  --au-accent-tint : var(--au-teal-tint);
  --au-accent-sub : var(--au-dark-teal);
  --au-accent-sub-tint : var(--au-dark-teal-tint);
  
  --au-font-base : "JetBrains Mono", monospace;
  --au-font-size-base : 12px;
  --au-font-size-sub : 11px;
}

/* === Scrollbar === */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--au-bg-default);
}

::-webkit-scrollbar-thumb {
  background: var(--au-accent-sub);
}

/* ------------------------------------------- */
/* UTILITIES */
/* ------------------------------------------- */

.rounded-0 { border-radius: 0 !important }
.rounded-1 { border-radius: var(--au-border-radius-sm) !important }
.rounded-2 { border-radius: var(--au-border-radius) !important }
.rounded-3 { border-radius: var(--au-border-radius-lg) !important }
.rounded-4 { border-radius: var(--au-border-radius-xl) !important }
.rounded-5 { border-radius: var(--au-border-radius-xxl) !important }
.rounded-circle { border-radius: 50% !important }
.rounded-pill { border-radius: var(--au-border-radius-pill) !important }
.rounded-top { border-top-left-radius: var(--au-border-radius) !important; border-top-right-radius: var(--au-border-radius) !important }
.rounded-top-0 { border-top-left-radius: 0 !important; border-top-right-radius: 0 !important}
.rounded-top-1 { border-top-left-radius: var(--au-border-radius-sm) !important; border-top-right-radius: var(--au-border-radius-sm) !important }
.rounded-top-2 { border-top-left-radius: var(--au-border-radius) !important; border-top-right-radius: var(--au-border-radius) !important }
.rounded-top-3 { border-top-left-radius: var(--au-border-radius-lg) !important; border-top-right-radius: var(--au-border-radius-lg) !important }
.rounded-top-4 { border-top-left-radius: var(--au-border-radius-xl) !important; border-top-right-radius: var(--au-border-radius-xl) !important }
.rounded-top-5 { border-top-left-radius: var(--au-border-radius-xxl) !important; border-top-right-radius: var(--au-border-radius-xxl) !important }
.rounded-top-circle { border-top-left-radius: 50% !important; border-top-right-radius: 50% !important }
.rounded-top-pill { border-top-left-radius: var(--au-border-radius-pill) !important; border-top-right-radius: var(--au-border-radius-pill) !important }
.rounded-end { border-top-right-radius: var(--au-border-radius) !important; border-bottom-right-radius: var(--au-border-radius) !important }
.rounded-end-0 { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important }
.rounded-end-1 { border-top-right-radius: var(--au-border-radius-sm) !important; border-bottom-right-radius: var(--au-border-radius-sm) !important }
.rounded-end-2 { border-top-right-radius: var(--au-border-radius) !important; border-bottom-right-radius: var(--au-border-radius) !important }
.rounded-end-3 { border-top-right-radius: var(--au-border-radius-lg) !important; border-bottom-right-radius: var(--au-border-radius-lg) !important }
.rounded-end-4 { border-top-right-radius: var(--au-border-radius-xl) !important; border-bottom-right-radius: var(--au-border-radius-xl) !important }
.rounded-end-5 { border-top-right-radius: var(--au-border-radius-xxl) !important; border-bottom-right-radius: var(--au-border-radius-xxl) !important }
.rounded-end-circle { border-top-right-radius: 50% !important; border-bottom-right-radius: 50% !important }
.rounded-end-pill { border-top-right-radius: var(--au-border-radius-pill) !important; border-bottom-right-radius: var(--au-border-radius-pill) !important }
.rounded-bottom { border-bottom-right-radius: var(--au-border-radius) !important; border-bottom-left-radius: var(--au-border-radius) !important }
.rounded-bottom-0 { border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important }
.rounded-bottom-1 { border-bottom-right-radius: var(--au-border-radius-sm) !important; border-bottom-left-radius: var(--au-border-radius-sm) !important }
.rounded-bottom-2 { border-bottom-right-radius: var(--au-border-radius) !important; border-bottom-left-radius: var(--au-border-radius) !important }
.rounded-bottom-3 { border-bottom-right-radius: var(--au-border-radius-lg) !important; border-bottom-left-radius: var(--au-border-radius-lg) !important }
.rounded-bottom-4 { border-bottom-right-radius: var(--au-border-radius-xl) !important; border-bottom-left-radius: var(--au-border-radius-xl) !important }
.rounded-bottom-5 { border-bottom-right-radius: var(--au-border-radius-xxl) !important; border-bottom-left-radius: var(--au-border-radius-xxl) !important }
.rounded-bottom-circle { border-bottom-right-radius: 50% !important; border-bottom-left-radius: 50% !important }
.rounded-bottom-pill { border-bottom-right-radius: var(--au-border-radius-pill) !important; border-bottom-left-radius: var(--au-border-radius-pill) !important }
.rounded-start { border-bottom-left-radius: var(--au-border-radius) !important; border-top-left-radius: var(--au-border-radius) !important }
.rounded-start-0 { border-bottom-left-radius: 0 !important; border-top-left-radius: 0 !important }
.rounded-start-1 { border-bottom-left-radius: var(--au-border-radius-sm) !important; border-top-left-radius: var(--au-border-radius-sm) !important }
.rounded-start-2 { border-bottom-left-radius: var(--au-border-radius) !important; border-top-left-radius: var(--au-border-radius) !important }
.rounded-start-3 { border-bottom-left-radius: var(--au-border-radius-lg) !important; border-top-left-radius: var(--au-border-radius-lg) !important }
.rounded-start-4 { border-bottom-left-radius: var(--au-border-radius-xl) !important; border-top-left-radius: var(--au-border-radius-xl) !important }
.rounded-start-5 { border-bottom-left-radius: var(--au-border-radius-xxl) !important; border-top-left-radius: var(--au-border-radius-xxl) !important }
.rounded-start-circle { border-bottom-left-radius: 50% !important; border-top-left-radius: 50% !important }
.rounded-start-pill { border-bottom-left-radius: var(--au-border-radius-pill) !important; border-top-left-radius: var(--au-border-radius-pill) !important }

/* === SHADOW === */
.shadow { box-shadow: var(--au-box-shadow) !important }
.shadow-sm { box-shadow: var(--au-box-shadow-sm) !important }
.shadow-lg { box-shadow: var(--au-box-shadow-lg) !important }
.shadow-none { box-shadow: none !important }

/* === MARGIN === */
.m-0 { margin: 0 !important }
.m-1 { margin: .25rem !important }
.m-2 { margin: .5rem !important }
.m-3 { margin: 1rem !important }
.m-4 { margin: 1.5rem !important }
.m-5 { margin: 3rem !important }
.m-auto { margin: auto !important }
.mx-0 { margin-right: 0 !important; margin-left: 0 !important }
.mx-1 { margin-right: .25rem !important; margin-left: .25rem !important }
.mx-2 { margin-right: .5rem !important; margin-left: .5rem !important }
.mx-3 { margin-right: 1rem !important; margin-left: 1rem !important }
.mx-4 { margin-right: 1.5rem !important; margin-left: 1.5rem !important }
.mx-5 { margin-right: 3rem !important; margin-left: 3rem !important } 
.mx-auto { margin-right: auto !important; margin-left: auto !important }
.my-0 { margin-top: 0 !important; margin-bottom: 0 !important }
.my-1 { margin-top: .25rem !important; margin-bottom: .25rem !important }
.my-2 { margin-top: .5rem !important; margin-bottom: .5rem !important }
.my-3 { margin-top: 1rem !important; margin-bottom: 1rem !important }
.my-4 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important }
.my-5 { margin-top: 3rem !important; margin-bottom: 3rem !important }
.my-auto { margin-top: auto !important; margin-bottom: auto !important }
.mt-0 { margin-top: 0 !important }
.mt-1 { margin-top: .25rem !important }
.mt-2 { margin-top: .5rem !important }
.mt-3 { margin-top: 1rem !important }
.mt-4 { margin-top: 1.5rem !important }
.mt-5 { margin-top: 3rem !important }
.mt-auto { margin-top: auto !important }
.me-0 { margin-right: 0 !important }
.me-1 { margin-right: .25rem !important }
.me-2 { margin-right: .5rem !important }
.me-3 { margin-right: 1rem !important }
.me-4 { margin-right: 1.5rem !important }
.me-5 { margin-right: 3rem !important }
.me-auto { margin-right: auto !important }
.mb-0 { margin-bottom: 0 !important }
.mb-1 { margin-bottom: .25rem !important }
.mb-2 { margin-bottom: .5rem !important }
.mb-3 { margin-bottom: 1rem !important }
.mb-4 { margin-bottom: 1.5rem !important }
.mb-5 { margin-bottom: 3rem !important }
.mb-auto { margin-bottom: auto !important }
.ms-0 { margin-left: 0 !important }
.ms-1 { margin-left: .25rem !important }
.ms-2 { margin-left: .5rem !important }
.ms-3 { margin-left: 1rem !important }
.ms-4 { margin-left: 1.5rem !important }
.ms-5 { margin-left: 3rem !important }
.ms-auto { margin-left: auto !important }

/* === PADDING === */
.p-0 { padding: 0 !important }
.p-1 { padding: .25rem !important }
.p-2 { padding: .5rem !important }
.p-3 { padding: 1rem !important }
.p-4 { padding: 1.5rem !important }
.p-5 { padding: 3rem !important }
.px-0 { padding-right: 0 !important; padding-left: 0 !important }
.px-1 { padding-right: .25rem !important; padding-left: .25rem !important }
.px-2 { padding-right: .5rem !important; padding-left: .5rem !important }
.px-3 { padding-right: 1rem !important; padding-left: 1rem !important }
.px-4 { padding-right: 1.5rem !important; padding-left: 1.5rem !important }
.px-5 { padding-right: 3rem !important; padding-left: 3rem !important }
.py-0 { padding-top: 0 !important; padding-bottom: 0 !important }
.py-1 { padding-top: .25rem !important; padding-bottom: .25rem !important }
.py-2 { padding-top: .5rem !important; padding-bottom: .5rem !important }
.py-3 { padding-top: 1rem !important; padding-bottom: 1rem !important}
.py-4 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important }
.py-5 { padding-top: 3rem !important; padding-bottom: 3rem !important }
.pt-0 { padding-top: 0 !important }
.pt-1 { padding-top: .25rem !important }
.pt-2 { padding-top: .5rem !important }
.pt-3 { padding-top: 1rem !important }
.pt-4 { padding-top: 1.5rem !important }
.pt-5 { padding-top: 3rem !important }
.pe-0 { padding-right: 0 !important }
.pe-1 { padding-right: .25rem !important }
.pe-2 { padding-right: .5rem !important }
.pe-3 { padding-right: 1rem !important }
.pe-4 { padding-right: 1.5rem !important }
.pe-5 { padding-right: 3rem !important }
.pb-0 { padding-bottom: 0 !important }
.pb-1 { padding-bottom: .25rem !important }
.pb-2 { padding-bottom: .5rem !important }
.pb-3 { padding-bottom: 1rem !important }
.pb-4 { padding-bottom: 1.5rem !important }
.pb-5 { padding-bottom: 3rem !important }
.ps-0 { padding-left: 0 !important }
.ps-1 { padding-left: .25rem !important }
.ps-2 { padding-left: .5rem !important }
.ps-3 { padding-left: 1rem !important }
.ps-4 { padding-left: 1.5rem !important }
.ps-5 { padding-left: 3rem !important }

/* === DISPLAY === */
.d-flex { display: flex !important;}
.d-block { display: block !important; }
.d-inline-block { display: inline-block !important; }
.d-inline-flex { display: inline-flex !important; }
.d-none {display: none !important;}

.flex-row { display: flex; flex-direction: row; gap: 8px; }
.flex-column { display: flex; flex-direction: column; gap: 8px; }

/* === ALIGNMENT === */
.v-align-baseline { vertical-align: baseline !important }
.v-align-top { vertical-align: top !important }
.v-align-middle { vertical-align: middle !important }
.v-align-bottom { vertical-align: bottom !important }
.v-align-text-bottom { vertical-align: text-bottom !important }
.v-align-text-top { vertical-align: text-top !important }

.justify-content-start { justify-content: flex-start !important }
.justify-content-end { justify-content: flex-end !important }
.justify-content-center { justify-content: center !important }
.justify-content-between { justify-content: space-between !important }
.justify-content-around { justify-content: space-around !important }
.justify-content-aunly { justify-content: space-aunly !important }

.align-items-start { align-items: flex-start !important }
.align-items-end { align-items: flex-end !important }
.align-items-center { align-items: center !important }
.align-items-baseline { align-items: baseline !important }
.align-items-stretch { align-items: stretch !important }

.align-content-start { align-content: flex-start !important }
.align-content-end { align-content: flex-end !important }
.align-content-center { align-content: center !important }
.align-content-between { align-content: space-between !important }
.align-content-around { align-content: space-around !important }
.align-content-stretch { align-content: stretch !important }

.align-self-auto { align-self: auto !important }
.align-self-start { align-self: flex-start !important }
.align-self-end { align-self: flex-end !important }
.align-self-center { align-self: center !important }
.align-self-baseline { align-self: baseline !important }
.align-self-stretch { align-self: stretch !important }

.text-start { text-align: left !important }
.text-end { text-align: right !important }
.text-center { text-align: center !important }

body
{
  background-color: var(--au-bg-default);
  color: var(--au-text-color-default);
  width: 100%;
  height: 100%;
  font-family: var(--au-font-base);
  font-size: var(--au-font-size-base);
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
}

/* === WINDOW === */
.panel {
  background-color: var(--au-bg-sub);
  border: 1px solid var(--au-border-sub);
  padding: 16px;
  margin: 20px;
}
.panel-acrylic
{
  border: none;
  background-color: transparent;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}


/* === TYPOGRAPHY === */
.text-xs    { font-size: 8px; }
.text-sm    { font-size: 10px; }
.text-lg    { font-size: 16px; }
.text-xl    { font-size: 20px; }
.text-2xl   { font-size: 24px; }
.text-3xl   { font-size: 32px; }
.text-4xl   { font-size: 40px; }

.line-tight   { line-height: 1.2; }
.line-normal  { line-height: 1.5; }
.line-loose   { line-height: 1.75; }

.text-light   { font-weight: 300; }
.text-normal  { font-weight: 400; }
.text-medium  { font-weight: 500; }
.text-bold    { font-weight: 600; }

.text-success { color: var(--au-success);}
.text-warning { color: var(--au-warning);}
.text-danger { color: var(--au-danger);}
.text-neutral { color: var(--au-text-color-sub);}
.text-glow {text-shadow: 0 0 10px var(--au-text-color-glow)}

.text-subbed {
  font-size: var(--aufont-size-subbed); 
  color: var(--au-text-color-sub);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.note
{
  font-size: var(--aufont-size-subbed); 
  color: var(--au-accent-default);
  background-color: var(--au-accent-tint);
  border-left: 2px solid var(--au-accent-default);
  padding: 4px 8px;
  margin: 8px 0;
}

.code
{
  font-size: var(--aufont-size-subbed); 
  color: var(--au-accent-default);
  padding: 2px 6px;
  border: 1px solid var(--au-border-sub);
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
{
  color : var(--au-accent-default);
  padding-bottom: 4px;
  margin-bottom: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--au-border-sub);
}

h6,.h6
{
  font-weight: bolder;
  font-size: xx-small;
}

/* === BUTTON === */
.button
{
  background-color: var(--au-accent-sub);
  color: var(--au-accent-default);
  border: 1px solid transparent;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: var(--au-font-base);
  font-size: var(--au-font-size-base);
}
.button-info
{
  background-color: var(--au-info-sub);
  color: var(--au-info);
  border: 1px solid transparent;
}
.button-success
{
  background-color: var(--au-success-sub);
  color: var(--au-success);
  border: 1px solid transparent;
}
.button-warning
{
  background-color: var(--au-warning-sub);
  color: var(--au-warning);
  border: 1px solid transparent;
}
.button-danger
{
  background-color: var(--au-danger-sub);
  color: var(--au-danger);
  border: 1px solid transparent;
}
.button-info:hover {
  border: 1px solid var(--au-info);
}
.button-success:hover {
  border: 1px solid var(--au-success);
}
.button-warning:hover {
  border: 1px solid var(--au-warning);
}
.button-danger:hover {
  border: 1px solid var(--au-danger);
}
.button-outline-info
{
  background-color: transparent;
  color: var(--au-info);
  border: 1px solid var(--au-info);
}
.button-outline-success
{
  background-color: transparent;
  color: var(--au-success);
  border: 1px solid var(--au-success);
}
.button-outline-warning
{
  background-color: transparent;
  color: var(--au-warning);
  border: 1px solid var(--au-warning);
}
.button-outline-danger
{
  background-color: transparent;
  color: var(--au-danger);
  border: 1px solid var(--au-danger);
}
.button-outline-info:hover {
  background-color: var(--au-info-sub);
}
.button-outline-success:hover {
  background-color: var(--au-success-sub);
}
.button-outline-warning:hover {
  background-color: var(--au-warning-sub);
}
.button-outline-danger:hover {
  background-color: var(--au-danger-sub);
}

/* === BUTTON GROUP === */
.button-group
{
  display: flex;
  flex-direction: row;
}
.button-group > .button
{
  color: var(--au-text-color-default);
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
}
.button-group > .button:hover
{
  border: 1px solid var(--au-border-default);
  color: var(--au-accent-default);
}

/* === Close Button === */
.button-close
{
  color: var(--au-text-color-default);
  background: transparent;
  border: 1px solid transparent;
  font-size: large;
  padding: 4px 8px;
  cursor: pointer;
  transition: border 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

/* === Input Fields === */
input,
select,
textarea
{
  border: 1px solid var(--au-border-default);
  background-color: var(--au-bg-sub);
  padding: 8px;
}

select:focus,
textarea:focus,
[type=text]:focus,
[type=password]:focus,
[type=email]:focus,
[type=number]:focus {
  outline: none;
  border: 1px solid var(--au-accent-default)
}

input::placeholder,
textarea::placeholder {
  font-family: var(--au-font-base);
  font-size: var(--au-font-size-base);
  opacity: 1;
}

select {
  background-color: var(--au-accent-sub);
  color: var(--au-text-color-default);
  font-family: var(--au-font-base);
  font-size: var(--au-font-size-base);
  padding: 8px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='5'%20viewBox='0%200%208%205'%3E%3Cpath%20fill='%23ffffff'%20d='M0%200l4%205l4-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 8px 5px;
  padding-right: 28px;
  transition: background 0.2s ease-in-out;
}

select > option {
  background-color: var(--au-accent-sub-tint);
  color: var(--au-text-color-default);
  font-family: var(--au-font-base);
  font-size: var(--au-font-size-base);
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 8px;
}

.checkbox input {
  display: none;
}

.checkbox .checkmark {
  width: 10px;
  height: 10px;
  border: 1px solid var(--au-border-default);
  background-color: var(--au-bg-sub);
  display: inline-block;
  position: relative;
  transition: border 0.2s ease, background-color 0.2s ease;
}

.checkbox input:checked + .checkmark {
  border: 1px solid var(--au-border-default);
  background-color: var(--au-bg-sub)
}

.checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 1px;
  width: 4px;
  height: 8px;
  /* border: solid var(--au-border-0); */
  border: solid var(--au-accent-default);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  box-sizing: border-box;
}

/* === Range === */
.range {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.range-label {
  font-family: var(--au-font-base);
  font-size: var(--au-font-size-base);
  text-transform: uppercase;
}

.range-control {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 5px 0;
}

/* Track */
.range-control::-webkit-slider-runnable-track {
  height: 8px;
  border: 1px solid var(--au-border-sub);
}

/* Thumb */
.range-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: var(--au-accent-default);
  border: none;
  margin-top: -3px;
}

/* Firefox */
.range-control::-moz-range-track {
  height: 8px;
  /* background: #1a1a1a; */
  border: 1px solid var(--au-border-sub);
}
.range-control::-moz-range-progress {
  background-color: var(--au-accent-sub);
  height: 8px;
}
.range-control::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: var(--au-accent-default);
  border: none;
}

/* IE / Edge (optional) */
.range-control::-ms-track {
  height: 8px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-control::-ms-fill-lower {
  background: var(--au-accent-default);
}
.range-control::-ms-thumb {
  width: 14px;
  height: 14px;
  background: var(--au-accent-default);
  border: none;
}
.range-value {
  color: var(--au-text-color-sub);
  text-align: right;
  font-size: var(--au-font-size-sub);
}

/* === Table UI === */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

table th {
  border-left: 1px solid var(--au-border-sub);
  border-right: 1px solid var(--au-border-sub);
  padding: 4px;
  text-align: right;
  font-weight: bold;
}

table th:first-child {
  border-left: none;
}

table th:last-child {
  border-right: none;
}

table td:first-child {
  border-left: none;
}

table td:last-child {
  border-right: none;
}

table td {
  padding: 4px;
  text-align: right;
  border-left: 1px solid var(--au-border-sub);
  border-right: 1px solid var(--au-border-sub);
}

table tbody tr:hover {
  background-color: var(--au-bg-light);
}

/* === Badge === */
.badge {
  display: inline-flex;
  padding: 4px 8px;
  color: var(--au-accent-default);
  border: 1px solid var(--au-border-sub);
  border-radius: 3px;
  font-size: var(--au-font-size-sub);
  text-transform: uppercase;
}
.badge-info { color: var(--au-info);}
.badge-success { color: var(--au-success);}
.badge-warning { color: var(--au-warning);}
.badge-danger { color: var(--au-danger);}
.badge-neutral { color: var(--au-text-color-sub);}


/* === Card === */
.card {
  background: var(--au-bg-sub);
  border: 1px solid var(--au-border-sub);
  padding: 16px;
  margin: 16px 0;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--au-border-sub);
  padding-bottom: 6px;
  margin-bottom: 12px;
  color: var(--au-accent-default);
  font-weight: bold;
  text-transform: uppercase;
}
.card-footer {
  border-top: 1px solid var(--au-border-sub);
  margin-top: 12px;
  padding-top: 6px;
  text-align: right;
  font-size: var(--au-font-size-sub);
  color: var(--au-text-color-sub);
}

/* === Alert === */
.alert {
  padding: 12px 16px;
  margin: 16px 0;
  border-top: 1px solid var(--au-accent-default);
  border-bottom: 1px solid var(--au-accent-default);
  background-color: var(--au-accent-tint);
  transition: all 0.3s ease-in-out;
}
.alert-info {
  border-top-color: var(--au-info);
  border-bottom-color: var(--au-info);
  background-color: var(--au-info-tint);
}
.alert-success {
  border-top-color: var(--au-success);
  border-bottom-color: var(--au-success);
  background-color: var(--au-success-tint);
}
.alert-warning {
  border-top-color: var(--au-warning);
  border-bottom-color: var(--au-warning);
  background-color: var(--au-yellow-tint);
}
.alert-error {
  border-top-color: var(--au-danger);
  border-bottom-color: var(--au-danger);
  background-color: var(--au-danger-tint);
}

/* === Breadcrum === */
.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 0px;
  /* border: 1px solid #2a2a2a; */
  margin: 0;
  gap: 0;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  color: var(--au-accent-default);
}

.breadcrumb li + li::before {
  content: "▸"; /* triangle divider */
  color: var(--au-text-color-sub);
  margin: 0 8px;
  font-size: 10px;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--au-accent-default);
  transition: color 0.2s ease-in-out;
}

.breadcrumb .current {
  font-weight: bold;
  pointer-events: none;
  color: var(--au-text-color-default);
}

/* === Toast === */
.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  padding: 12px 16px;
  margin: 12px;
  background-color: var(--au-accent-tint);
  border: 1px solid var(--au-border-sub);
  border-left: 3px solid var(--au-accent-default);
}

.toast-info {
  border-left-color: var(--au-info);
  background-color: var(--au-info-tint)
}

.toast-success {
  border-left-color: var(--au-success);
  background-color: var(--au-success-tint)
}

.toast-warning {
  border-left-color: var(--au-warning);
  background-color: var(--au-warning-tint);
}

.toast-danger {
  border-left-color: var(--au-danger);
  background-color: var(--au-danger-tint);
}

.toast-message {
  flex: 1;
  padding-right: 12px;
}

.toast-close {
  background: transparent;
  border: none;
  color: var(--au-text-color-default);
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  transition: color 0.2s ease-in-out;
}

/* === Progress === */
.progress {
  width: 100%;
  height: 10px;
  border: 1px solid var(--au-border-sub);
  overflow: hidden;
  box-sizing: border-box;
}
.progress .progress-fill {
  height: 100%;
  background-color: var(--au-accent-sub);
  transition: width 0.3s ease;
}

/* === Block Quotes === */
.quote {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-color: var(--au-bg-default);
  border: 1px solid var(--au-border-sub);
  padding: 12px 16px;
  margin: 16px 0;
  gap: 12px;
}
.quote-icon {
  font-size: large;
  color: var(--au-accent-default);
  line-height: 1;
  width: 16px;
  text-align: center;
  background: var(--au-accent-sub)
}
.quote-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.quote-content {
  margin-bottom: 6px;
}
.quote-footer {
  font-size: var(--au-font-size-sub);
  color: var(--au-text-color-sub);
  text-align: right;
  text-transform: uppercase;
}

/* === Nav Bar === */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--au-bg-dark);
  border: 1px solid var(--au-border-sub);
  padding: 8px 16px;
}
.nav-brand {
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--au-accent-default);
}
.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.nav-links li a {
  color: var(--au-text-color-default);
  text-decoration: none;
  padding: 6px 4px;
  transition: color 0.2s ease, border-color 0.2s ease;
}
.nav-links li a:hover {
  color: var(--au-accent-default);
  background: var(--au-accent-sub);
}

/* === List === */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.list-item {
  padding: 5px 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}
.list-item-hover:hover {
  background-color: var(--au-bg-light);
  color: var(--au-accent-default);
}

/* === Code Block === */
.code-block {
  background-color: var(--au-bg-dark);
  color: var(--au-accent-default);
  font-family: monospace;
  padding: 6px 6px;
  margin: 16px 0;
  border: 1px solid var(--au-border-sub);
  overflow-x: auto;
  overflow-y: auto;
  line-height: 1.6;
}

/* === Link === */
.link {
  text-decoration: none;
  border-bottom: 1px dashed var(--au-accent-default);
  cursor: pointer;
  color: inherit;
}
.link:hover {
  color: var(--au-accent-default);
  border-bottom-color: var(--au-accent-sub);
}